@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";


@theme {
    --color-primary: #1F1F1F;
    --font-primary: 'Nunito Sans', sans-serif;
    --color-border: #DDDDDD;
    --color-lupa: #005CFF;
    --breakpoint-sm: 1165px;
    --color-bgerror: #D9D9D9;
    --color-texterror: #FF0000;
  }


  @layer base {
    body {
      @apply bg-primary flex items-center justify-center h-screen font-primary my-0 mx-auto overflow-hidden;
    }
  }
