@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #1F1F1F;
    --font-primary: 'Nunito Sans', sans-serif;
    --color-border: #DDDDDD;
    --color-secundary: #005CFF;
    --breakpoint-sm: 1165px;
    --color-bgGray: #D9D9D9;
    --color-texterror: #FF0000;
    --color-bgtest: radial-gradient(circle, #0579ff 0%, #002c5b 40%, #000 60%);
  }


  @layer base {
    body {
      @apply bg-primary flex items-center justify-center h-screen font-primary my-0 mx-auto overflow-hidden;
    }
  }

  @layer components {
    .dot {
      @apply w-[10px] h-[10px] rounded-full bg-bgGray;
    }
  }

  @utility circle {
        @apply w-[700px] rounded-full bg-[radial-gradient(circle,_#0579ff_0%,_#002c5b_40%,_#000_60%)] blur-[80px];
  }
